@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    background-image: linear-gradient(rgba(0 0 0/0.4), rgba(0 0 0/0.4)),url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v957-wan-19.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=8e9465a184a4c6d2840096982a60255d);
    background-size: cover;   
}
.text{
    display: flex;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 20px;
    color: #880808;
    text-align: center;
    justify-content: center;
    padding-top: 20%;
}