@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Caveat', cursive;
    color: white;
    background: #121212;
}

#oneDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
}

#title {
    font-size: 200px;
    margin-bottom: 0%;
}

#class {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0%;
    font-size: 50px;
}

#twoDiv {
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-bottom: 0%;
}

#name {
    font-size: 100px;
    margin-bottom: 0%;
    margin-top: 0%;
}

#pink {
    color: rgba(255, 255, 255, 0.6);
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 0%;
}

#information {
    margin-top: 0%;
    font-size: 25px;
    margin-bottom: 200px;
}

#threeDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

#challenging {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0%;
    font-size: 50px;
}

#project {
    margin-top: 0%;
    font-size: 100px;
    margin-bottom: 10px;
}

#did {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0%;
    font-size: 30px;
}

#oneProject {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

#twoProject {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

#threeProject {
    margin-top: 0px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#my {
    color: rgba(255, 255, 255, 0.6);
    font-size: 70px;
    margin-bottom: 0%;
}

#favorit {
    font-size: 100px;
    margin-top: 0%;
}

#onePlace {
    font-size: 70px;
    margin: 0%;
}

#oneGame {
    width: 700px;
    margin: 0%;
}

#secondGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

#twoPlace {
    font-size: 70px;
    margin: 0%;
}

#twoGame {
    width: 700px;
    margin: 0%;
}

#threePlace {
    font-size: 70px;
    margin: 0%;
}

#threeGame {
    width: 700px;
    margin: 0%;
    margin-left: 50px;
}

#top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration {
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}